/* YOUR STYLES HERE  */
#nav_menu {
    font-family: Verdana, Arial, Sans-Serif;
    width: 80%;
    display:block;
}

p {
    clear : both;
}
#game_box table, th, td
{
	background: none;
	color: #000000;
	border: 1px solid black;
	padding: 8px;
}
#game_box th
{
	text-align:left;
}
#game_table
{
	display:table;
	background: #9999;
}
#game_table ul
{
	width: 485px;
	margin: 0px;
	border:1px solid #000000;
	padding: 2px 0px;
}
#game_table ul li
{
	list-style:none;
	
}
#game_table ul.header
{
	display:table-header-group;
	float:left;
}
#game_table ul.header li.time
{
	float:left;
	width:390px;
	padding: 0px 5px;
}
#game_table ul.header li.tv_name
{
	float:left;
	width:25px;
}
#game_table ul.labels
{
	font-weight:bold;
	float:left;
}
#game_table ul.labels li.team_name
{
	float:left;
	width:27%;
	text-align:left;
	padding: 2px 5px;
}
#game_table ul.labels li.team_record
{
	float:left;
	width:15%;
	text-align:left;
	padding: 2px 0px;
}
#game_table ul.labels li.inning_1, li.inning_2, li.inning_3, li.inning_4, li.inning_5, li.inning_6, li.inning_7, li.inning_8, li.inning_9
{
	float:left;
	width:5%;
	text-align:center;
	padding: 2px 0px;
}
#game_table ul.labels li.score_total
{
	float:left;
	width:10%;
	text-align:center;
	padding: 2px 0px;
}